.reveal section::before {
    height: inherit !important;
    width:inherit !important;
}

.reveal section::after {
    box-shadow: none !important;
}

.reveal section img.plain {
    background: white;
    border: none;
    box-shadow: none;
    display: block;
    margin: 0 auto;
}

.reveal section img.no-margin {
    margin: 0;
}

.reveal section .middle {
    vertical-align: middle;
}

.reveal ul.no-bullets {
    list-style-type: none;
}
.reveal ul.coloured-bullets{
    color: #700a4d;
}

.reveal .slides .inline {
    display: inline;
    margin: auto
}

.reveal .slides .noTransform {
    text-transform: none;
}

.reveal .slides .lowercase {
    text-transform: lowercase;
}

.reveal kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    color: #333;
    font-size: 11px;
    line-height: 1.4;
    text-shadow: 0 1px 0 #fff;
    display: inline-block;
    vertical-align: middle;
    padding: .1em .6em;
    margin: 0 .1em;
    white-space: nowrap;
    box-shadow: 0 1px 0 rgba(0,0,0,.2),0 0 0 2px #fff inset;
    border-radius: 3px;
    font-family: monospace;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    font-size: 16px;
}

.reveal .slides .title {
    color: #700a4d;
    font-family: 'Shadows Into Light';
}

.reveal .slides .title_header {
    float: left;
}

.reveal .slides .author {
    font-family: 'Shadows Into Light';
    color: green;
}

.reveal .slides .title_wrapper {
    display: inline-block;
}

.reveal p, .reveal ul li, .reveal ol li {
    font-family:  'Open Sans Condensed';
}
.reveal .slides section .fragment.fade-up {
    font-family:  'Open Sans Condensed';
}

.reveal ul li span {
    color: black;
}

.reveal  ul li span.point_checked {
    color: green !important;
}

.reveal a {
    color: green !important;
}

.reveal blockquote{
    box-shadow: none !important;
}

.reveal p.coloured{
    color: green !important;
}

.reveal span {
    font-family:  'Open Sans Condensed';
}

.reveal div.link_footer {
    padding-top: 40px;
}